<!DOCTYPE html>
<html lang="en">

<head>
    <script src="js/checkLogin.js"></script>
    <script>

        xhr = new XMLHttpRequest()
        xhr.addEventListener("load", function () {

            if (xhr.status = 200) {
                var animalContext = document.getElementById("animalContext")
                var publishAll = JSON.parse(xhr.responseText)

                for (let i = 0; i < publishAll.length; i++) {

                    var divAnimal = document.createElement('div')
                    divAnimal.setAttribute('style', "width: 300px; margin: 10px;")

                    var divout = document.createElement('div')
                    var h3 = document.createElement('h3')
                    var a = document.createElement('a')
                    const variety = document.createTextNode(publishAll[i].variety)
                    a.setAttribute('href', `http://localhost:8080/images/publish/${publishAll[i].photo_url}.jpg`)
                    a.appendChild(variety)
                    h3.appendChild(a)

                    var ul = document.createElement('ul')
                    const body = document.createTextNode(publishAll[i].bodyShape)
                    var li = document.createElement('li')
                    li.appendChild(body)
                    ul.appendChild(li)
                    const age = document.createTextNode(publishAll[i].age)
                    var li = document.createElement('li')
                    li.appendChild(age)
                    ul.appendChild(li)
                    const color = document.createTextNode(publishAll[i].color)
                    var li = document.createElement('li')
                    li.appendChild(color)
                    ul.appendChild(li)
                    const kind = document.createTextNode(publishAll[i].kind)
                    var li = document.createElement('li')
                    li.appendChild(kind)
                    ul.appendChild(li)
                    const ligation = document.createTextNode(publishAll[i].ligation)
                    var li = document.createElement('li')
                    li.appendChild(ligation)
                    ul.appendChild(li)
                    const sex = document.createTextNode(publishAll[i].sex)
                    var li = document.createElement('li')
                    li.appendChild(sex)
                    ul.appendChild(li)
                    const remark = document.createTextNode(publishAll[i].remark)
                    var li = document.createElement('li')
                    li.appendChild(remark)
                    ul.appendChild(li)

                    divout.appendChild(h3)
                    divout.appendChild(ul)
                    var divinner = document.createElement('div')
                    var atel = document.createElement('a')
                    const tel = document.createTextNode("撥打電話")
                    atel.setAttribute('href', `tel:${publishAll[i].tel}`)
                    atel.appendChild(tel)
                    divinner.appendChild(atel)

                    divout.appendChild(divinner)


                    var img = document.createElement('img')
                    img.setAttribute('src', `http://localhost:8080/images/publish/${publishAll[i].photo_url}.jpg`)
                    img.setAttribute('width', "300")
                    img.setAttribute('height', '400')
                    var aimg = document.createElement('a')
                    aimg.setAttribute('href', `http://localhost:8080/images/publish/${publishAll[i].photo_url}.jpg`)
                    aimg.appendChild(img)

                    divAnimal.appendChild(aimg)
                    divAnimal.appendChild(divout)
                    animalContext.appendChild(divAnimal)

                }
            }

        })

        xhr.open("get", "http://localhost:8080/publish_animals/all")

        xhr.send()


    </script>
    <title>一般領養 -寵物資訊平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">


    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/style.css">

    <style>
        .page_show {
            padding: 40px 0;
            text-align: center;
        }

        .page_show span {
            display: inline-block;
            height: 28px;
            line-height: 28px;
            padding: 0 11px;
            margin: 0 5px;
            text-align: center;
            font-size: 14px;
            border-radius: 1px;
            border: #b7b7b7 solid 1px;
            background-color: #f8f8f8;
            cursor: pointer;
        }

        span.page_cur {
            color: #fff;;
            border: #282828 solid 1px;
            background-color: #424242;
        }
    </style>
</head>

<body>
<div class="headerPage"></div>
<!-- END nav -->
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');"
		 data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-end">
			<div class="col-md-9 ftco-animate pb-5">
				<p class="breadcrumbs mb-2"><span class="mr-2"><a href="/index">首頁 <i
						class="ion-ios-arrow-forward"></i></a></span> <span>> 一般領養 <i
						class="ion-ios-arrow-forward"></i></span></p>
				<h1 class="mb-0 bread">一般領養</h1>
			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</div>
<!--<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"-->
<!--     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">-->
<!--        <div class="modal-content">-->
<!--&lt;!&ndash;            <div class="modal-header">&ndash;&gt;-->
<!--&lt;!&ndash;                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span aria-hidden="true">&times;</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="modal-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="media media-events-list bg-info">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="media-img">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img id="imageUrl_static" src="">&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                            <h3 class="media-heading mt-3 mb-2 ml-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a class="text-white text-capitalize d-block text-truncate" id="animalId_static"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </h3>&ndash;&gt;-->
<!--&lt;!&ndash;                            <ul class="text-white list-unstyled mb-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                <il id="animalKind_static"></il>&ndash;&gt;-->
<!--&lt;!&ndash;                            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                            <p id="description_static"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <div class="col">&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <img id="imageUrl_static" src="">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <div class="col">&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="col-sm-2 control-label">編號 :</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="form-control-static" id="animalId_static1"></label><br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="col-sm-2 control-label">物種 :</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="form-control-static" id="animalKind_static1"></label><br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="col-sm-2 control-label">品種 :</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="form-control-static" id="animalVariety_static"></label><br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="col-sm-2 control-label">性別 :</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="form-control-static" id="animalSex_static"></label><br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="col-sm-2 control-label">絕育 :</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="form-control-static" id="animalSterilization_static"></label><br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="col-sm-2 control-label">疫苗 :</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="form-control-static" id="animalBacterin_static"></label><br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="col-sm-2 control-label">備註:</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="form-control-static" id="description_static"></label><br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="col-sm-2 control-label">刊登日期:</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="form-control-static" id="createdDate_static"></label><br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="col-sm-2 control-label">更新日期:</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="form-control-static" id="lastModifiedDate_static"></label><br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--            &lt;!&ndash;            <div class="modal-footer">&ndash;&gt;-->
<!--            &lt;!&ndash;                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&ndash;&gt;-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<hr>
<div style="margin: auto; width: 800px;">
    物種 :
    <select name="animalKind" id="kind">
        <option>不分種類</option>
        <option>狗</option>
        <option>貓</option>
        <option>其他</option>
    </select>
    性別 :
    <select name="animalSex" id="sex">
        <option>不分種類</option>
        <option>公</option>
        <option>母</option>
    </select>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row" id="test1Result">
        </div>
    </div>
</section>


<div style="margin: auto; width: 800px;">
    <p id="pageInfo"></p><br>
    <div class="page_show"></div>
</div>


<footer class="footer">
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <p class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is
                made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                               target="_blank">Colorlib.com</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>
<script>
    var limit;
    var pages;

    $.ajax({
        type: "GET",
        url: "/personalAnimals",
        success: function (data) {
            getAnimalList(data);
            // console.log("單頁筆數:"+data["limit"]);
            // console.log("跳過幾筆資料:"+data["offset"]);
            // console.log("總筆數:"+data["total"]);
            // console.log(data["results"]);
            // console.log(data["results"][0]);
            // console.log(data["results"][0]["animalId"]);
            // console.log(data["results"].length)
        }
    });

    function getAnimalList(data) {
        $("#test1Result").empty();
        $.each(data["results"], function (index, item) {
            var html = "<div class='col-md-6 col-lg-3 ftco-animate'>" +
                "                <div class='staff'>" +
                "                    <div class='img-wrap d-flex align-items-stretch'>" +
                "                        <div class='work mb-4 img d-flex align-items-end' style='background-image: url(" + item.imageUrl + ");'>" +
                "                        </div>" +
                "                    </div>" +
                "                    <div class='text pt-3 px-3 pb-4 text-center' style='cursor: pointer;'>" +
                "                        <h3 id='" + item.animalId + "'>" + item.animalName + "</h3>" +
                "                        <div class='faded'>" +
                "                                <p>物種: " + item.animalKind + "</p>" +
                "                                <p>品種: " + item.animalVariety + "</p>" +
                "                                <p>性別: " + item.animalSex + "</p>" +
                "                                <p>日期: " + item.lastModifiedDate + "</p>" +
                "                        </div>" +
                "<button type='button' onclick='getAnimalInfo(this)' class='btn btn-primary' data-toggle='modal' data-target='#exampleModalCenter'>" +
                "    詳細資料" +
                "</button>" +
                "                    </div>" +
                "                </div>" +
                "            </div>";


            $("#test1Result").append(html);
        })

        pages = Math.ceil(data.total / data.limit);
        console.log(data.offset / data.limit)
        limit = data.limit;

        $("#pageInfo").text("總頁數:" + pages + "  總筆數:" + data.total);
        pageSet(pages);

        console.log("單頁筆數limit:" + data["limit"]);
        console.log("跳過幾筆資料offset:" + data["offset"]);
        console.log("總筆數:" + data["total"]);

        $.getScript('js/main.js');
    }

    function getAnimalInfo(gid) {

        var id = $(gid).siblings("h3").attr("id");
        console.log(gid);
        console.log(id);
        $.ajax({
            type: "GET",
            url: "/personalAnimals/" + id,
            success: function (data) {

                console.log("會員:" + data.userId +
                    "\n編號:" + data.animalId +
                    "\n名字:" + data.animalName +
                    "\n物種:" + data.animalKind +
                    "\n品種:" + data.animalVariety +
                    "\n性別:" + data.animalSex +
                    "\n年齡:" + data.animalAge +
                    "\n體型:" + data.animalBodysize +
                    "\n毛色:" + data.animalColor +
                    "\n絕育:" + data.animalSterilization +
                    "\n疫苗:" + data.animalBacterin +
                    "\n圖片:" + data.imageUrl +
                    "\n地區:" + data.area +
                    "\n備註:" + data.description +
                    "\n刊登日期:" + data.createdDate +
                    "\n更新日期:" + data.lastModifiedDate);
            }
        });
    }

    //輸出頁碼
    function pageSet(pages) {
        var pageHtml = '';
        var start, end;
        if (listPage < 6) {
            start = 1;
        } else {
            start = listPage - 5;
        }
        if (listPage > pages - 5) {
            end = pages;
        } else {
            end = listPage + 5;
        }

        if (listPage > 1) {
            pageHtml += '<span>上一頁</span>';
        }
        for (var i = start, page_cur = ''; i <= end; i++) {
            if (listPage == i) {
                page_cur = 'page_cur';
            } else {
                page_cur = '';
            }
            pageHtml += '<span class="' + page_cur + '">' + i + '</span>';
        }
        if (listPage < pages) {
            pageHtml += '<span>下一頁</span>';
        }
        $('.page_show').empty().append(pageHtml);
    }

    //選擇分頁
    $('body').on('click', '.page_show span', function () {
        var $this = $(this);
        if ($this.hasClass('page_cur')) {
            return;
        }
        var page = $this.html();
        if (page == '上一頁') {
            listPage = listPage - 1;
            changePage(listPage);
            // goPrePage();
        } else if (page == '下一頁') {
            listPage = listPage + 1;
            changePage(listPage);
            // goNextPage();
        } else {
            listPage = parseInt(page);
            changePage(listPage);
        }
        //根據頁碼獲取當前頁列表數據
        pageSet(pages);
    });
    var listPage = 1;

    function changePage(page) {
        var offset = limit * (page - 1);
        console.log(offset);
        console.log(page);
        $.ajax({
            type: "GET",
            url: "/personalAnimals?offset=" + limit * (page - 1),
            success: function (data) {
                getAnimalList(data);
            }
        })
    }


    $(".headerPage").load("header");//讀取導覽列
</script>
</body>

</html>